<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <select v-model='status'>
            <option value="all">All</option>
            <option value="active">TodoList</option>
            <option value="completed">Completed</option>
        </select>
        <input type="text" v-model='newTodo' @keyup.enter='addTodo'>
        <!--completed class를 todo.completed에 따라 주기 위해 사용-->
        <li v-for="todo,idx in todosByStatus()" v-bind:class="{completed:todo.completed}" v-bind:key="todo.id">
            <input v-model='todo.completed' type="checkbox">
            {{todo.content}}
            <button v-if='todo.completed' @click='removeTodo(idx)'>X</button>
        </li>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var config = {
            apiKey: "AIzaSyCkRxEowbhHgtlWxq9Dyw4QIhb2b7nAGQg",
            databaseURL: "https://todolist-f3015.firebaseio.com",
            projectId: "todolist-f3015",
        };
        firebase.initializeApp(config);

        const database = firebase.database()

        const app = new Vue({
            el:'div#app',
            data:{
                title:'MyToDo',
                // todos:todoStorage.fetch(),
                newTodo:'',
                status:'all',
            },
            firebase:{
                todos:database.ref('todos'),
            }, 
            methods:{
                addTodo:function(){
                    if(this.newTodo){
                        this.$firebaseRefs.todos.push({id:Date.now(),content:this.newTodo, completed:false})
                        this.newTodo = ''
                    }
                },
                removeTodo:function(idx){
                    this.todos.splice(idx, 1)
                },
                todosByStatus:function(){
                    if(this.status == 'active'){
                        return this.todos.filter((todo)=>{
                            return !todo.completed
                        })
                    }else if(this.status == 'completed'){
                        return this.todos.filter((todo)=>{
                            return todo.completed
                        })
                    }else{
                        return this.todos
                    }
                },
                updateTodo:function(){
                    const editTodo = {...todo}
                    delete editTodo['.key']
                    this.$firebaseRefs.todos.child(todo['.key'].set(editTodo))
                    
                }
            },//end methods

            watch:{
                todos:{
                    handler:function(todos){
                    todoStorage.save(todos)
                    },
                    deep:true
                },
            },//end watch
        })
    </script>
</body>
</html>
